* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #f4f4f4;
}

body:before {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #5cb85c;
    content: "";
    z-index: 0;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.7em;
}

a {
    color: #128ff2;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

button.primary {
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

input {
    font-size: 1rem;
}

input[type="file"] {
    border: 1px solid #128ff2;
    padding: 6px;
    max-width: 100%;
}

.file-input {
    width: 100%;
}

.submit-btn {
    display: block;
    margin-top: 15px;
    min-width: 100px;
}

@media screen and (min-width: 500px) {
    .file-input {
        width: calc(100% - 115px);
    }

    .submit-btn {
        display: inline-block;
        margin-top: 0;
        margin-left: 10px;
    }
}

.card {
    border-radius: 10px;
    min-height: 100px;
    box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.27);
    position: relative;
    padding: 5px;
    background-color: #fff;
    margin-top: 10px;
    border: solid #cccccc;
    border-width: 1px 1px;

}

.upload-container {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    /*margin-right: 60px !important;*/
    /*margin-left: 60px !important;*/
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    margin-top: 60px;
    min-height: 600px;
    width: 90%;
    position: relative;
    padding: 20px;
}

.upload-header {
    border-bottom: 1px solid #ececec;
}

.upload-header h2 {
    font-weight: 500;
}

.single-upload {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
}

.upload-response {
    overflow-x: hidden;
    word-break: break-all;
}

.hidden{
    display:none;
}

.unhidden{
    display:block;
}

form {
    display: inline;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.fadein {
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
}

.export-fadein {
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
}

.one {
    -webkit-animation-delay: 1s;
}

.input-box {
    overflow: auto;
    margin-top: 10px;
    box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.27);
    border-radius: 10px;
}

.string {
    color: green;
}

.number {
    color: red;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: darkorange;
}

pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin-top: 15px;
    overflow: auto;
    height: 800px;
    /*width: 150px;*/
}

.box {
    display: inline-block;
}

.progress {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress > .inner {
    position: absolute;
    color: red;
}

.progress > svg {
    height: 100%;
    display: block;
}

.green-success {
    border: 0.08em solid #5cb85c !important;
}

.yellow-passed {
    border: 0.08em solid #ffa31a !important;
}

.red-failed {
    border: 0.08em solid #e62e00 !important;
    position: absolute;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.center-gauge {
    /*margin-top: 10px;*/
    /*margin-left: 10px !important;*/
    margin-top: 10px !important;
    /*margin-right: 10px !important;*/
}


/* stuff for stepper */

:root {
    --background-color: #FFFFFF;
    --primary-color: #E66A53;
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.08);
    font-family: Arial;
    display: flex;
}

.steps {

    /*width: 500px;*/
    /*box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.3);*/
    box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.27);
    background-color: #FFF;
    padding: 24px 0;
    position: relative;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
}

.steps::before {
    content: '';
    position: absolute;
    top: 0;
    height: 24px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    left: calc(50px / 2);
    z-index: 1;
}

.steps::after {
    content: '';
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 5px 0px var(--primary-color);
    border-radius: 15px;
    left: calc(50px / 2);
    bottom: 24px;
    transform: translateX(-45%);
    z-index: 2;
}

.step {
    padding: 0 20px 24px 50px;
    position: relative;
    transition: all 0.4s ease-in-out;
    background-color: #FFF;
}

.step::before {
    content: '';
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: rgb(198, 198, 198);
    border-radius: 15px;
    left: calc(50px / 2);
    transform: translateX(-45%);
    z-index: 2;
}

.step::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: rgb(198, 198, 198);
    left: calc(50px / 2);
    top: 0;
    z-index: 1;
}

.step.minimized {
    background-color: #FFF;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.header {
    user-select: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.subheader {
    user-select: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}

.step-content {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
}

.step.minimized > .step-content {
    height: 0px;
}

.step-content.one {
    height: 35px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 4px;
    margin-top: 10px;
}

.step-content.two {
    height: 35px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 4px;
    margin-top: 10px;
}

.step-content.three {
    /*height: 100px;*/
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 4px;
    margin-top: 10px;
}

.step-content.four {
    height: 36px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 4px;
    margin-top: 10px;
}

.next-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: red;
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3);
    color: #FFF;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.close-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: rgb(255, 0, 255);
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3);
    color: #FFF;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

/* Irrelevant styling things */
.close-btn:hover {
    background-color: rgba(255, 0, 255, 0.6);
}

.close-btn:focus {
    outline: 0;
}

.next-btn:hover {
    background-color: rgba(255, 0, 0, 0.6);
}

.next-btn:focus {
    outline: 0;
}

.step.minimized:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

/* End stuff for stepper*/
.container-custom {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}